<h1><%= @question.title %></h1>
  <% @question.comments.each do |comment| %>
    <ul>
      <li><p><%= comment.body %></p> <%= comment.author %></li>
    </ul>
  <% end %>

  <h3>Answer Reply:</h3>

  <form action="/comments/new" method="post">
    <input type="text" name="comment[body]" placeholder="Add answer">
    <input type="hidden" name="comment[author]" value="<%= current_user.username %>" >
    <input type="submit" value="Post Answer">
  </form>
