<div class="container">
  <h2>New Question</h2>
  <form class="form-horizontal" role="form" action="/questions" method="post">
    <label class="control-label col-sm-1" for="question">Title:</label>
    <div class="col-xs-4">
    <input class="form-control input-sm" type="text" name="question[title]"></div>
    <br><br>
    <label class="control-label col-sm-1" for="question">Body:</label>
    <div class="col-xs-4">
    <input class="form-control input-lg.custom" type="text" name="question[body]">
  </div><br><br>
    <label class="control-label col-sm-1"for="tag">Tags (optional):</label>
    <input type="text" name="tag[name]">
    <input type="hidden" name="question[user_id]" value="<%= current_user.id %>">
    <div class="col-sm-offset-1 col-sm-10">
    <br><br><button type="submit" class="btn btn-default">Meow!</button>
    </div>
  </form>
</div>
