<div class='container'>
  <h1>All Questions:</h1>
    <% @questions.each do |question| %>
    <ul>
      <li><a href='/questions/<%=question.id%>'><h3><%= question.title %></h3></a><br>
              <%= question.body %></li>
    </ul><br>
    <% end %>
</div>
