<div class='container'>
  <h1>All Questions:</h1>
    <% @questions.each do |question| %>
    <ul>
      <a href='/questions/<%=question.id%>'<li><h3><%= question.title %></h3><br>
              <%= question.body %></li></a>
    </ul><br>
    <% end %>
</div>
