body {
    padding-top: 65px;
}

body a{
  color: #E32D78;
}

body a:hover{
  text-decoration: none;
  color: #FDD8E9;
}

.tab-pane{
  height:615px;
  overflow-y:scroll;
  width:100%;
}

#search_bar {
    width: 145px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search_bar:focus {
    width: 100%;
}

#logo {
  height: 530px;
  margin-left: 200px;
}

#question-cell {
  width: 60%;
}

#question_created_cell {
  width: 25%;
}

.profile_header {
  padding: 10px;
  color: #02C7FC;
}

.nav.navbar-nav.navbar-right li a {
    color: #FCD1E4;
}

.panel-default > .panel-heading-custom{
  background-image: none;
  background-color: #ed6b71;
  color: #ffffff;
}

.panel-primary > .panel-heading-custom{
  color: #17191c;
  background-image: none;
  background-color: #FDD8E9!important;
  border: none;
  color: #ffffff;
}

.panel-primary > .panel-border-custom{
  border-color: #000000!important;
}

.panel-primary > .panel-heading-custom h3{
  color: #2c3035;
}

.mystyle input[type="text"] {
   height: 50px;

}

#user_question_header{
  padding: 20px;
}
