<div class=container>
  <h2>Log In</h2><br>

<% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
 <% end %>

 <form class="" action="/users/login" method="post">
  <label class="control-label col-sm-1" for="user[username]">Username:</label>
  <div class="col-xs-3">
  <input class="form-control input-sm" type="text" name="user[username]"></div><br><br>
  <label class="control-label col-sm-1" for="user[password]">Password:</label>
  <div class="col-xs-3">
  <input class="form-control input-sm" type="password" name="user[password]"></div><br><br>
  <div class="col-sm-offset-1 col-sm-10">
    <br><br><button type="submit" class="btn btn-default">Log In</button><br>
</form>
</div>
