<div class="container">
  <h2>Register a New Account!</h2>
  <h5>*password must be at least 6 characters</h5>

<% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

<form class="form-horizontal" role="form" action="/users" method="post">
  <label class="control-label col-sm-1" for="user[username]">Username:</label>
  <div class="col-xs-4">
  <input class="form-control input-sm" type="text" name="user[username]"></div><br><br>
    <label class="control-label col-sm-1" for="user[email]">Email:</label>
  <div class="col-xs-4">
  <input class="form-control input-sm" type="text" name="user[email]"></div><br><br>
  <label class="control-label col-sm-1" for="user[password]">Password:</label>
  <div class="col-xs-4">
  <input class="form-control input-sm" type="password" name="user[password]"></div><br><br>
  <div class="col-sm-offset-1 col-sm-10">
  <button type="submit" class="btn btn-default">Register</button></div><br>
</form>

</div>
