<div class="container">

<h2>Welcome, <%=@user.username%>!</h2>
<h3>Your questions</h3>
<table style="width:100%">
  <tr>
    <th>Question</th>
    <th>Date Asked</th>
  </tr>
  <tr>
    <td><a href="">question</a></td>
    <td>question.created_at for user</td>
  </tr>
</div>
