<div class="container">
  <nav>
    <% if loggedin? %>
      <a href="/questions">Questions</a>
      <a href="/users/<% current_user.id %>">Profile</a>
      <a href="/users/logout">Log Out</a>
    <% else %>
      <a href="/questions">Questions</a>
      <a href="/users/login">Log In</a>
      <a href="/users/new">Register</a>
    <% end %>
  </nav>
</div>
<div class="container">
<h1>Welcome to Red Panda Overflow!</h1>
</div>
<div class="conatiner">
  <h2>Popular questions:</h2>
  <ul>
  <% @recent_questions each do |question| %>
    <li><%= question %></li>
  <% end %>
  </ul>

</div>
