<div class="container">
<h1>Welcome to our website!!</h1>
</div>
<div class="conatiner">
  <h2>Popular questions:</h2>
  <ul>
    <% display_latest_questions.each do |question| %>
    <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% end %>
  </ul>
</div>

