<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Cat Overflow</title>
</head>
<body style="height:1500px">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Cat Overflow</a>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user != nil %>
         <li class="active"><a href="/">Home</a></li>
         <li><a href="/questions/show">Questions</a></li>
         <li><a href="/questions/new">Ask A Question</a></li>
         </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-heart"></span> Profile</a></li>
           <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
         </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/new"><span class="glyphicon glyphicon-heart-empty"></span> Register</a></li>
          <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/questions/show">Questions</a></li>
      <% end %>
        </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
